:root {
  --morado-krina: rgba(105, 74, 255, 1);
  --naranja: rgba(255, 85, 0, 1);
  --rosita-fresita: rgba(255, 8, 206, 1);
  --verde-agache-y-me-la-muerde: rgba(65, 223, 130, 1);
  
  --background: #0f0f0f;
  --foreground: #ffffff;
  --muted: #1f1f1f;
  --muted-foreground: #9e98af;
  --border: #1f1f1f;
  --input: #1f1f1f;
  --ring: #374151;
  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lufga', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--foreground);
  background-color: var(--background);
}

@font-face {
  font-family: 'Lufga';
  src: url('https://fonts.cdnfonts.com/css/lufga') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('https://fonts.cdnfonts.com/css/lufga') format('woff2');
  font-weight: 500;
  font-style: normal;
}