.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 5px;
  font-family: 'Lufga', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.badge-hip-hop { background-color: var(--morado-krina); }
.badge-modern-pop { background-color: var(--naranja); }
.badge-alternative-rock { background-color: var(--verde-agache-y-me-la-muerde); }
.badge-rb { background-color: var(--rosita-fresita); }
.badge-kpop { background-color: #a846f0; }
.badge-rock { background-color: var(--naranja); }
.badge-opera { background-color: var(--morado-krina); }
.badge-classical-jazz { background-color: var(--verde-agache-y-me-la-muerde); }
.badge-blues { background-color: #a846f0; }