.card {
  border-radius: 20px;
  background: var(--muted);
  border: none;
  color: var(--foreground);
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.card-title {
  font-family: 'Lufga', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 24px;
}

.card-content {
  padding: 14px;
  padding-top: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-top: 0;
}