.scroll-area {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.scroll-area-viewport {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-area-viewport::-webkit-scrollbar {
  display: none;
}

.scroll-content {
  display: flex;
  gap: 32px;
  padding-bottom: 16px;
}