.separator {
  background-color: var(--muted-foreground);
  opacity: 0.2;
  margin: 40px 0;
}

.separator-horizontal {
  height: 1px;
  width: 100%;
}

.separator-vertical {
  height: 100%;
  width: 1px;
}